section.Navi::before{
  content: '';

  position: absolute;
  bottom:0;
  width: 100%;
  height: 50%;
  z-index: 1;
  backdrop-filter: blur(5px);
  border-top: 1.5px solid rgba(255,255,255,0.5);
}
ul.Navi{
  position: relative;
  display: flex;
  z-index: 2;
}
ul.Navi li {
  position: relative;
  list-style: none;
  margin: 10px;
}
ul.Navi li a {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255,255,255,0.4);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 5px 45px rgba(0,0,0,0.1);
  backdrop-filter: blur(2px);
  transition: .5s;
  overflow: hidden;
}
ul.Navi li a:hover {
  transform: translateY(-20px)
}
ul.Navi li i {
  margin-top: 15px;
}
ul.Navi li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255,255,255,0.5);
  transform: skewX(45deg) translateX(150px);
  transition: .5s;
}
ul.Navi li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

@media (max-width: 700px){
  section.Navi {
    width: 700px;
  }
}